<%- include("../includes/header.ejs", {title:"Add New Developer"}); %>
<h1>Add New Developer</h1>
<form action="/developer/insert" method="get">
    Developer: <input id="dev_name" name="dev_name" type="text" />
    <br />
    Type:  <input id="type" name="type" type="text" />
    Status: <input id="status" name="status" type="text" />
    <br />
    City:  <input id="city" name="city" type="text" />
    State/Country: <input id="state_country" name="state_country" type="text" />
    <br />

    <input type="submit" />

</form>

<br />
<a href="/developer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>