<%- include("../includes/header.ejs", {title:"Developers - View All"}); %>

<h1>Developers</h1>
<a href="/developer/add">Add New developer</a> <br />

<br />

<table border="1">
    <tr><th>developers</th><th>Actions</th></tr>
    <% for(var i=0; dev.length > i; i++ ) { %>
    <tr>
        <td><a href="/developer/?dev_id=<%= dev[i].dev_id %>"><%= dev[i].dev_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/developer/edit/?dev_id=<%= dev[i].dev_id %>'">Edit</button>
            <form action="/developer/delete/" style="display:inline;">
                <input type="hidden" name="dev_id" id="dev_id" value="<%= dev[i].dev_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>