<%- include("../includes/header.ejs", {title:"Developer - " + dev.dev_name}); %>
<h1>Developer</h1>
<ul>
    <li>Developer: <%= dev.dev_name %></li>
    <li>Type: <%= dev.type %></li>
    <li>Status: <%= dev.status %></li>
    <li>City: <%= dev.city %></li>
    <li>State/Country: <%= dev.state_country %></li>
</ul>

<br />
<a href="/developer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>