<%- include("../includes/header.ejs", {title:"Add New User"}); %>
<h1>Add New User</h1>
<form action="/user/insert" method="get">
    Email: <input id="email" name="email" type="text" />
    <br />
    First Name:  <input id="first_name" name="first_name" type="text" />
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />

    <input type="submit" />

</form>

<br />
<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>