<%- include("../includes/header.ejs", {title: "Update " + user.email}); %>

<h1>Update <%= user.email%></h1>
<form action="/user/update" method="get">
    <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
    Email: <input id="email" name="email" type="text" value="<%= user.email%>"/>
    <br />
    First Name:  <input id="first_name" name="first_name" type="text" value="<%= user.first_name%>" />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= user.last_name%>" />
    <br />

    <br />
    <input type="submit" />

</form>

<br />
<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>