<%- include("../includes/header.ejs", {title:"Add New Video Game"}); %>
<h1>Add New Video Game</h1>
<form action="/videogame/insert" method="get">
    Video Game Title: <input id="vg_name" name="vg_name" type="text" />
    <br />
    Release Date:  <input id="date_released" name="date_released" type="date" />
    Score: <input id="rating" name="rating" type="number" />
    <br />
    ESRB Rating:  <input id="ESRB" name="ESRB" type="text" />
    Platform(s): <input id="platform" name="platform" type="text" />
    <br />

    Developers
    <br />
    <select id="dev_id" name="dev_id" multiple="multiple">
        <% for(var i=0; dev.length > i; i++ ) { %>
        <option value="<%= dev[i].dev_id %>"><%= dev[i].dev_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dev_id').multiselect();
        });
    </script>
    <br />
    <br />
    Publishers
    <br />
    <select id="pub_id" name="pub_id" multiple="multiple">
        <% for(var i=0; pub.length > i; i++ ) { %>
        <option value="<%= pub[i].pub_id %>"><%= pub[i].pub_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pub_id').multiselect();
        });
    </script>
    <br />
    <br />

    <input type="submit" />

</form>

<a href="/videogame/all"><< back</a>

<%- include("../includes/footer.ejs"); %>