<%- include("../includes/header.ejs", {title: "Update " + vg.vg_name}); %>

<h1>Update <%= vg.vg_name%></h1>
<form action="/videogame/update" method="get">
    <input type="hidden" id="vg_id" name="vg_id" value="<%= vg.vg_id %>">
    Video Game Title: <input id="vg_name" name="vg_name" type="text" value="<%= vg.vg_name%>"/>
    <br />
    Release Date:  <input id="date_released" name="date_released" type="date" value="<%= vg.date_released%>" />
    Score: <input id="rating" name="rating" type="number" value="<%= vg.rating%>" />
    <br />
    ESRB Rating:  <input id="ESRB" name="ESRB" type="text" value="<%= vg.ESRB%>" />
    Platform(s): <input id="platform" name="platform" type="text" value="<%= vg.platform%>" />
    <br />

    Developers <br />
    <select id="dev_id" name="dev_id" multiple="multiple">
        <% for(var i=0; full_dev.length > i; i++ ) {
            var selected = "";
            for(var j=0; dev.length > j; j++){
                if(dev[j].dev_id === full_dev[i].dev_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_dev[i].dev_id %>" <%= selected %> ><%= full_dev[i].dev_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dev_id').multiselect();
        });
    </script>

    <br />
    Publishers <br />
    <select id="pub_id" name="pub_id" multiple="multiple">
        <% for(var i=0; full_pub.length > i; i++ ) {
            var selected = "";
            for(var j=0; pub.length > j; j++){
                if(pub[j].pub_id === full_pub[i].pub_id)
                    selected = "selected";
            }
        %>
        <option value="<%= full_pub[i].pub_id %>" <%= selected %> ><%= full_pub[i].pub_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pub_id').multiselect();
        });
    </script>

    <br />
    <input type="submit" />

</form>

<a href="/videogame/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>