<%- include("../includes/header.ejs", {title:"Video Games - View All"}); %>

<h1>Video Games</h1>
<a href="/videogame/add">Add New Video Game</a> <br />

<br />

<table border="1">
    <tr><th>Video Game Titles</th><th>Actions</th></tr>
    <% for(var i=0; vg.length > i; i++ ) { %>
    <tr>
        <td><a href="/videogame/?vg_id=<%= vg[i].vg_id %>"><%= vg[i].vg_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/videogame/edit/?vg_id=<%= vg[i].vg_id %>'">Edit</button>
            <form action="/videogame/delete/" style="display:inline;">
                <input type="hidden" name="vg_id" id="vg_id" value="<%= vg[i].vg_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>