<%- include("../includes/header.ejs", {title:"Add New Publisher"}); %>
<h1>Add New Publisher</h1>
<form action="/publisher/insert" method="get">
    Publisher: <input id="pub_name" name="pub_name" type="text" />
    <br />
    City:  <input id="city" name="city" type="text" />
    State/Country: <input id="state_country" name="state_country" type="text" />
    <br />

    <input type="submit" />

</form>

<br />
<a href="/publisher/all"><< back</a>

<%- include("../includes/footer.ejs"); %>