<%- include("../includes/header.ejs", {title: "Update " + pub.pub_name}); %>

<h1>Update <%= pub.pub_name%></h1>
<form action="/publisher/update" method="get">
    <input type="hidden" id="pub_id" name="pub_id" value="<%= pub.pub_id %>">
    Publisher: <input id="pub_name" name="pub_name" type="text" value="<%= pub.pub_name%>"/>
    <br />
    City:  <input id="city" name="city" type="text" value="<%= pub.city%>" />
    State/Country: <input id="state_country" name="state_country" type="text" value="<%= pub.state_country%>" />
    <br />

    <br />
    <input type="submit" />

</form>

<br />
<a href="/publisher/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>