<%- include("../includes/header.ejs", {title:"Publishers - View All"}); %>

<h1>Publishers</h1>
<a href="/publisher/add">Add New Publisher</a> <br />

<br />

<table border="1">
    <tr><th>Publishers</th><th>Actions</th></tr>
    <% for(var i=0; pub.length > i; i++ ) { %>
    <tr>
        <td><a href="/publisher/?pub_id=<%= pub[i].pub_id %>"><%= pub[i].pub_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/publisher/edit/?pub_id=<%= pub[i].pub_id %>'">Edit</button>
            <form action="/publisher/delete/" style="display:inline;">
                <input type="hidden" name="pub_id" id="pub_id" value="<%= pub[i].pub_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>